<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Windows_Uygulamasi.Ayarlar" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Baglanti" connectionString="Data Source=.;Initial Catalog=BilgeKoleji;Integrated Security=True" />
  </connectionStrings>
  <system.web>
    <membership>
      <providers>
        <remove name="AspNetSqlMembershipProvider"/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web,
           Version=2.0.0.0, Culture=neutral,
           PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="Baglanti" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="5" passwordAttemptWindow="10" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordFormat="Hashed" applicationName="/"/>
      </providers>
    </membership>
  </system.web>
<startup><supportedRuntime version="v2.0.50727"/></startup>
  <userSettings>
    <Windows_Uygulamasi.Ayarlar>
      <setting name="Email" serializeAs="String">
        <value/>
      </setting>
      <setting name="Sifre" serializeAs="String">
        <value/>
      </setting>
      <setting name="BeniHatirla" serializeAs="String">
        <value>False</value>
      </setting>
    </Windows_Uygulamasi.Ayarlar>
  </userSettings>
</configuration>
